@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes breathing {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

[class='dark'] .breathing-gradient {
  animation: breathing 200s ease-in-out infinite;
  background: linear-gradient(45deg, #12070f, #08182c, #26092b, #1e0614);
  background-size: 800% 800%;
  transition: all 1s;
}

.breathing-gradient {
  animation: breathing 200s ease-in-out infinite;
  background: linear-gradient(45deg, #fadcf3, #d0e1f6, #f7ddfc, #f8d0e7);
  background-size: 800% 800%;
  transition: all 1s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar for IE, Firefox, and older browsers */
.header-hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: thin;  /* Firefox */
  overflow-x: visible;
  overflow-y: visible;
}
.header-hide-scrollbar:hover,
.header-hide-scrollbar:active,
.header-hide-scrollbar:focus {
  scrollbar-width: thin; 
  overflow-x: clip;
  overflow-y:visible;
}

.preloader-wrapper.active {
  -webkit-animation: container-rotate 1568ms linear infinite;
  animation: container-rotate 1568ms linear infinite;
}

.spinner-layer {
  opacity: 1;
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.circle-clipper {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.gap-patch {
  position: absolute;
  top: 0;
  left: 45%;
  width: 10%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;
}

.gap-patch .circle {
  width: 1000%;
  left: -450%;
}

.active .circle-clipper.right .circle {
  -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.circle-clipper.right .circle {
  left: -100%;
  border-left-color: transparent !important;
  -webkit-transform: rotate(-129deg);
  transform: rotate(-129deg);
}
.circle-clipper .circle {
  width: 200%;
  height: 100%;
  border-width: 3px;
  border-style: solid;
  border-color: inherit;
  border-bottom-color: transparent !important;
  border-radius: 50%;
  -webkit-animation: none;
  animation: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}